// 

@import '../../../styles/variables';

:host {
  margin: 20px;
  margin-top: $navigation-header-height;
}

.data-list {
  min-width: 300px;
}

nice-data-summary-small-article {
  margin: 5px;
}

.side-list {
  margin-left: 10px;
}

iron-list {
  // height: 100vh;
}