<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<dom-module id="nice-weather-style">
<template>
<style>
.weather-object {
  padding: 20px;
  padding-top: 10px; }
  .weather-object h1 {
    padding: 0px;
    margin: 0px; }
  .weather-object .price-watch {
    text-decoration: none;
    color: inherit; }

.location {
  margin: 0px; }

.temperature {
  font-size: 1.2em; }

.feels-like {
  font-size: 0.7em; }

.humidity {
  font-size: 0.7em; }

</style>
</template>
</dom-module>