// nice-navigation-style

@import '../../../styles/variables';
@import '../../../styles/block';
@import '../../../styles/mixins';

.nice-navigation-item {
  
}

.nice-navigation-header {
  .nice-navigation-item {
    color: $gray-dark;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 0.7em;
    
    @include smalldesktop {
      // font-size: 0.7em;
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}