<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<dom-module id="nice-summary-side-content-style">
<template>
<style>
a {
  color: inherit;
  text-decoration: none; }
  a paper-material {
    height: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px; }
    a paper-material rc-side-content iron-image {
      width: 100%;
      height: 100px; }
    a paper-material rc-side-content div[main-content] {
      margin-left: 10px; }
      a paper-material rc-side-content div[main-content] h4 {
        margin: 0px;
        padding: 0px; }
      a paper-material rc-side-content div[main-content] p {
        font-size: 0.6em;
        margin: 0px;
        padding: 0px; }

</style>
</template>
</dom-module>