<!-- Polymer dependencies -->
<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<!-- Polymer Elements dependencies -->


<!-- Component dependencies -->

<!-- Style dependencies -->
<link rel="import" href="nice-header-style.html">

<dom-module id="nice-header">
  <template strip-whitespace>
    <style is="custom-style" include="nice-header-style">
      :host {
        display: block;
      }
    </style>
    
    
    
  </template>
  <script>
    Polymer({
      is: 'nice-header',
    })
  </script>
</dom-module>