<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<dom-module id="nice-article-component-style">
<template>
<style>
.body-container {
  margin-top: 20px;
  min-width: 300px; }

.photoblog-item {
  min-width: 150px;
  cursor: pointer; }

.photoblog-item iron-image {
  width: 100%;
  height: 150px; }

#video-dialog {
  width: 70%; }

#photoblog-dialog {
  width: 70%;
  max-width: 540px; }

#photoblog-dialog-image {
  width: 100%;
  max-width: 500px; }

</style>
</template>
</dom-module>