<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<!-- Polymer Elements dependencies -->
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../../../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../../../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../../../bower_components/polymerfire/firebase-storage.html">

<!-- Behvaior dependencies -->
<link rel="import" href="../../rc-core/rc-core-utils-behavior.html">
<link rel="import" href="../nice-article-behaviors/nice-article-behavior.html">
<link rel="import" href="../../nice-module/nice-behaviors/nice-category-behavior.html">
<link rel="import" href="../../nice-module/nice-behaviors/nice-file-behavior.html">
<link rel="import" href="../../nice-user/nice-user-behavior/nice-user-behavior.html">

<script src="../../../../bower_components/underscore/underscore.js"></script>

<!-- Style dependencies -->
<link rel="import" href="nice-article-form-style.html">

<dom-module id="nice-article-form">

  <template>
    <style is="custom-style" include="nice-article-form-style iron-flex iron-flex-alignment iron-flex-factors">
      :host {
        display: block;
      }

    </style>

    <firebase-document
      id="data-ref"
      path$="[[articlePath.articles]]/[[articleId]]"
      data="{{article}}">
    </firebase-document>
    <firebase-document
      id="owner-ref"
      path$="[[articlePath.owners]]/[[articleId]]"
      data="{{owner}}">
    </firebase-document>
    <firebase-query
      id="photoblog-ref"
      path$="[[articlePath.photoblog]]/[[articleId]]"
      data="{{photoblog}}">
    </firebase-query>

    <firebase-query
      id="category-ref"
      path$="[[categoryPath.categories]]"
      data="{{categories}}">
    </firebase-query>

    <firebase-document
      id="published-ref"
      data="{{publishOption}}"
      path="[[articlePath.options.published]]/[[articleId]]">
    </firebase-document>


    <firebase-storage
      id="header-image-storage"
      path="[[articlePath.articles]]/[[articleId]]"
      files="[[file]]"
      uploaded-files="{{headerImage}}"
      on-error="_catchError"
      auto-upload>
    </firebase-storage>

    <firebase-storage
      id="photoblog-storage"
      path="[[articlePath.photoblog]]/[[articleId]]"
      files="[[files]]"
      uploaded-files="{{photoBlogUploads}}"
      on-error="_catchError"
      auto-upload>
    </firebase-storage>
    
    <!-- ADD CHECK ON USER ROLE HERE -->
    <template is="dom-if" if="{{user}}">
      <firebase-document
        path="[[userPath.options.members]]/[[user.uid]]"
        data="{{memberRole}}">
      </firebase-document>
    </template>

    <template is="dom-if" if="{{_checkPermission('editor', owner, user, roles.member)}}">
      <div class="editor-form">
        <form is="iron-form" id="editor">
          <paper-input
            id="title"
            name="title"
            label="Title"
            value="{{article.title}}"
            max="100"
            char-counter
            >
          </paper-input>
          <paper-input
            id="video"
            name="video"
            label="Youtube Video URL"
            value="{{article.video}}"
            >
          </paper-input>
          <paper-input
            name="header-image"
            id="header-image"
            label="Header Image"
            value="{{article.header_image}}">
          </paper-input>
          <input
            id="header-image-file-upload"
            name="headerImageFileUpload"
            placeholder="Upload it here"
            type="file"
            data-for="header-image"
            on-change="uploadSingleFile"
            >
          </input>
          <template is="dom-repeat" items="{{headerImage}}">
            <div class="horizontal layout center file-list-item">
              <paper-progress class="flex-3" value="{{item.bytesTransferred}}" min="0" max="{{item.totalBytes}}"></paper-progress>
              <div class="flex file-list-item-name">
                {{item.ref.name}}
              </div>
              <div class="file-buttons">
                <template is="dom-if" if="{{_downloadFull(item.bytesTransferred, item.totalBytes)}}">
                  <paper-icon-button data-url$="{{item.downloadURL}}" icon="image:image" on-tap="_useAsHeaderImage" raised></paper-icon-button>
                  <paper-icon-button data-url$="{{item.downloadURL}}" data-index$="{{index}}" data-path$="{{item.ref.fullPath}}" icon="icons:delete" on-tap="_deleteFile" raised></paper-icon-button>
                </template>
                <template is="dom-if" if="{{!_downloadFull(item.bytesTransferred, item.totalBytes)}}">
                  <paper-icon-button data-index$="{{index}}" data-variable="headerImage" data-storage="#header-image-storage" icon="icons:cancel" on-tap="_cancelUpload" raised></paper-icon-button>
                </template>
              </div>
            </div>
          </template>
          <hr/>
          <paper-textarea
            id="sub-title"
            label="Short Description"
            name="sub-title"
            value="{{article.sub_title}}"
            rows="1"
            max="200"
            char-counter>
          </paper-textarea>
          <paper-textarea
            id="body"
            label="Body"
            name="body"
            value="{{article.body}}"
            rows="3"
            char-counter>
          </paper-textarea>
          <hr/>
          <div class="photoblog-album">
            Photoblog Album:<br/>
            <input
              id="photoblog-file-upload"
              name="photoblogFileUpload"
              placeholder="Upload Multiple Files here"
              type="file"
              on-change="uploadMultipleFiles"
              multiple
              accept="image/*"
              >
            </input>
          </div>
          <template is="dom-repeat" items="{{photoBlogUploads}}">
            <div class="horizontal layout center file-list-item">
              <paper-progress class="flex-3" value="{{item.bytesTransferred}}" min="0" max="{{item.totalBytes}}"></paper-progress>
              <div class="flex file-list-item-name">
                {{item.ref.name}}
              </div>
              <div class="file-buttons">
                <template is="dom-if" if="{{!_downloadFull(item.bytesTransferred, item.totalBytes)}}">
                  <paper-icon-button data-index$="{{index}}" data-variable="photoBlogUploads" data-storage="#photoblog-storage" icon="icons:cancel" on-tap="_cancelUpload" raised></paper-icon-button>
                </template>
              </div>
            </div>
          </template>
          <template is="dom-repeat" items="{{photoblog}}">
            <div class="horizontal layout center file-list-item">
              <div class="flex file-list-item-name">
                <paper-textarea
                  label="Caption for {{item.name}}"
                  name="sub-title"
                  value="{{item.caption}}"
                  rows="1"
                  max="200"
                  char-counter>
                </paper-textarea>
              </div>
              <paper-icon-button data-index$="{{item.$key}}" data-path$="{{item.fullPath}}" icon="icons:delete" on-tap="_deletePhotoblogFile" raised></paper-icon-button>
            </div>
          </template>

          <paper-input
            id="tag-words"
            name="tag-words"
            label="Tags"
            value="{{tagWords}}"
            on-change="_tagChange"
            >
          </paper-input>

          <div class="horizontal layout wrap">
            <template is="dom-repeat" items="{{categories}}">
              <div style="position: relative">
                <paper-icon-button
                  active$="{{_checkCategories(article.categories, item.$key)}}"
                  on-tap="_tapCategory"
                  id="{{item.$key}}"
                  src="{{item.icon}}"
                  toggles
                  class="category-icon"></paper-icon-button>
                <paper-tooltip for="{{item.$key}}">{{item.name}}</paper-tooltip>
              </div>
            </template>
          </div>
          <div class="horizontal layout" style="padding: 10px">
            <span style="padding-right: 10px">
              Publish:
            </span>
            <paper-toggle-button
              id="publish"
              on-change="onPublish"
            ></paper-toggle-button>
          </div>
          <div class="horizontal layout" style="padding: 10px">
            <span style="padding-right: 10px">
              Front published:
            </span>
            <paper-toggle-button
              id="front"
              on-change="onFlagChange"
            ></paper-toggle-button>
          </div>
          <div class="horizontal layout" style="padding: 10px">
            <span style="padding-right: 10px">
              SAP Article:
            </span>
            <paper-toggle-button
              id="sap"
              on-change="onFlagChange"
            ></paper-toggle-button>
          </div>
          <!--<div class="horizontal layout" style="padding: 10px">-->
          <!--  <span style="padding-right: 10px">-->
          <!--    News Article:-->
          <!--  </span>-->
          <!--  <paper-toggle-button-->
          <!--    id="news"-->
          <!--    on-change="onFlagChange"-->
          <!--  ></paper-toggle-button>-->
          <!--</div>-->
          <div class="horizontal layout" style="padding: 10px">
            <span style="padding-right: 10px">
              Press Article:
            </span>
            <paper-toggle-button
              id="press"
              on-change="onFlagChange"
            ></paper-toggle-button>
          </div>
          <div class="horizontal layout" style="padding: 10px">
            <span style="padding-right: 10px">
              People Article:
            </span>
            <paper-toggle-button
              id="people"
              on-change="onFlagChange"
            ></paper-toggle-button>
          </div>
        </form>
      </div>

    </template>
    <paper-toast id="toaster"></paper-toast>
  </template>

  <script>

    Polymer({

      is: 'nice-article-form',

      properties: {
        draftOption: {
          type: Object
        },
        publishOption: {
          type: Object
        },
        headerImage: {
          type: Object
        },
        photoBlogUploads: {
          type: Object
        },
        tagWords: {
          type: String
        }
      },

      observers: [
        '_checkPublish(publishOption.value)',
        '_checkFlags(publishOption.front, "front")',
        '_checkFlags(publishOption.sap, "sap")',
        '_checkFlags(publishOption.news, "news")',
        '_checkFlags(publishOption.press, "press")',
        '_checkFlags(publishOption.people, "people")',
        '_checkHeaderImageUpload(headerImage.splices)',
        '_checkPhotoBlogUploads(photoBlogUploads.splices)',
        '_checkArticle(article.*)',
        '_checkTags(article.tagwords)',
        // '_checkCategories(article.categories, categories.splices)'
      ],

      behaviors: [
        Polymer.NiceUserBehavior,
        Polymer.NiceFileBehavior,
        Polymer.NiceCategoryBehavior,
        Polymer.NiceArticleBehavior,
      ],

      _checkArticle: function(e) {
        if (e.path !== 'article') {
          this._setDatePublished();
        }
      },

      _setDatePublished: _.debounce(function() {
        if (this.$$('#data-ref')) {
          var updates = {};
          // console.log(this.$$('#data-ref').path );
          updates[this.$$('#data-ref').path + '/date_published'] = this._todayUTC
          firebase.database().ref().update(updates).catch(this._catchError.bind(this));
        }
      }, 1000),

      _checkPublish: function(o) {
        Polymer.dom.flush();
        if (this.$$('#publish')) {
          this.$$('#publish').checked = this._forceZero(o, false);
        }
      },

      _checkFront: function(o, v) {
        Polymer.dom.flush();
        if (this.$$('#front')) {
          this.$$('#front').checked = this._forceZero(o, false) || this._forceZero(v, false);
        }
      },
      
      _checkFlags: function(o, f) {
        Polymer.dom.flush();
        // console.log(f, this.$$('#'+f))
        if (this.$$('#'+f)) {
          this.$$('#'+f).checked = this._forceZero(o, false);
        }
      },

      _checkHeaderImageUpload: function(headerImage) {
        // console.log(headerImage)
        if (this.$$('#header-image-file-upload')) {
          this.$$('#header-image-file-upload').value = '';
        }

        if (headerImage && headerImage.indexSplices[0] && headerImage.indexSplices[0].object) {
          var arr = headerImage.indexSplices[0].object;
          if (arr && arr.length > 0 && arr[arr.length - 1].downloadURL) {
            this.$$('#header-image').value = arr[arr.length - 1].downloadURL
          }
        }
      },

      _checkPhotoBlogUploads: function(photoblog) {
        if (photoblog && photoblog.indexSplices[0] && photoblog.indexSplices[0].object) {
          var arr = photoblog.indexSplices[0].object;

          if (arr.length === 0) {
            if (this.$$('#photoblog-file-upload')) {
              this.$$('#photoblog-file-upload').value = '';
            }
          }

          for (var i in arr) {
            if (arr[i].totalBytes === arr[i].bytesTransferred) {
              var key = arr[i].ref.fullPath.replace(/\#|\.|\$|\[|\]/g, '-');
              firebase.database().ref(key).set({
                fullPath: arr[i].ref.fullPath,
                name: arr[i].ref.name,
                caption: arr[i].ref.name,
                downloadURL: arr[i].downloadURL
              }).then(function(){
                var j = _.findIndex(this.photoBlogUploads, {downloadURL: arr[i].downloadURL})
                if (j >= 0) {
                  this.splice('photoBlogUploads', i , 1);
                }
              }.bind(this)).catch(this._catchError.bind(this));
            }
          }
        }
      },

      _deletePhotoblogFile: function(e) {
        var index = e.target.getAttribute('data-index');
        var fullPath = e.target.getAttribute('data-path');
        firebase.database().ref(this.$$('#photoblog-ref').path + '/' + index).remove()
          .then(function(){
            return firebase.storage().ref(fullPath).delete();
          }.bind(this))
          .then(function(){
            this.$.toaster.show('File Deleted')
          }.bind(this))
          .catch(this._catchError.bind(this));
      },

      _useAsHeaderImage: function(e) {
        if (e.target.getAttribute('data-url')) {
          this.$$('#header-image').value = e.target.getAttribute('data-url');
        } else {
          this._catchError(new Error('Error: Cannot use file'));
        }
      },

      _deleteFile: function(e) {
        var url = e.target.getAttribute('data-url');
        var path = e.target.getAttribute('data-path');
        var index = e.target.getAttribute('data-index');
        if (url && path) {
          firebase.storage().ref(path).delete().then(function() {
            if (this.$$('#header-image').value === url) {
              this.$$('#header-image').value = ''
            }
            this.splice('headerImage', index, 1);
            this.$.toaster.show('File delete')
          }.bind(this)).catch(this._catchError.bind(this));
        } else {
          this._catchError(new Error('Error: Cannot delete file'));
        }
      },

      _cancelUpload: function(e) {
        var index = e.target.getAttribute('data-index');
        var storage = e.target.getAttribute('data-storage');
        var variable = e.target.getAttribute('data-variable')
        if (index) {

          this.$$(storage).cancel(index);
          this.splice(variable, index, 1);
        }
      },

      _downloadFull: function(download, total) {
        return download === total;
      },

      onPublish: function(e) {
        var message = e.target.checked ? 'Published' : 'Not Published';
        var checked = e.target.checked;
        var video = this.article.video && this.article.video.trim && this.article.video.trim().length > 0 ? this._todayUTC : null;
        var photoblog = this.photoblog && this.photoblog.length > 0 ? this._todayUTC : null;


        var obj = {
          value: this._todayUTC
        }

        if (video) {
          obj.video = video
          obj.videoPublished = checked ? video : null;
        }

        if (photoblog) {
          obj.photoblog = photoblog;
          obj.photoblogPublished = checked ? photoblog : null;
        }
        
        obj.front = this.$$('#front').checked ? this._todayUTC : null;
        obj.frontPublished = checked ? obj.front : null;
        
        // obj.news = this.$$('#news').checked ? this._todayUTC : null;
        // obj.newsPublished = checked ? obj.news : null;
        
        obj.press = this.$$('#press').checked ? this._todayUTC : null;
        obj.pressPublished = checked ? obj.press : null;
        
        obj.sap = this.$$('#sap').checked ? this._todayUTC : null;
        obj.sapPublished = checked ? obj.sap : null;
        
        obj.people = this.$$('#people').checked ? this._todayUTC : null;
        obj.peoplePublished = checked ? obj.people : null;
        
        for (var i in this.article.categories) {
          if (this.article.categories[i]) {
            obj[i + 'Published'] = checked && obj.front ? this._todayUTC : null;
            obj[i + 'FrontPublished'] = checked && obj.front ? this._todayUTC : null;
            obj[i + 'NewsPublished'] = checked && obj.news ? this._todayUTC : null;
            obj[i + 'PressPublished'] = checked && obj.press ? this._todayUTC : null;
            obj[i + 'SapPublished'] = checked && obj.sap ? this._todayUTC : null;
            obj[i + 'PeoplePublished'] = checked && obj.people ? this._todayUTC : null;
            obj[i + 'VideoPublished'] = checked && obj.video ? this._todayUTC : null;
            obj[i + 'PhotoblogPublished'] = checked && obj.photoblog ? this._todayUTC : null;
          }
        }
        
        
        obj.views = this.publishOption.views ? this.publishOption.views : null;
        obj.viewsPublished = checked ? obj.views : null
        
        
        if (checked) {
          obj.value = this._todayUTC;
          obj.draft = null
        } else {
          obj.value = null
          obj.draft = this._todayUTC;
        }

        var updates = {}

        for (var i in obj) {
          updates[this.$$('#published-ref').path + '/' + i] = obj[i]  
        }
        
        
        firebase.database().ref().update(updates).then(function() {
          this.$.toaster.show(message);
          this._setDatePublished()
        }.bind(this)).catch(this._catchError.bind(this))
      },
      
      onFlagChange: function(e) {
        var checked = e.target.checked;
        console.log('ca')
        this.onPublish({
          target: this.$$('#publish')
        })
      },

      _checkTags: function(e) {
        var arr = [];
        if (e) {
          for (var i in e) {
            arr.push(e[i]);
          }
          this.tagWords = arr.join(', ');
        }
      },

      _tagChange: function(e) {
        var arr = e.target.value.split(',');
        var newArr = [];
        for (var i in arr) {
          var word = arr[i].trim().toLowerCase();

          if (word && word.trim && word.trim().length > 0) {
            var key = 'tagword-'+word.replace(/\#|\.|\$|\[|\]/g, '_');
            newArr.push(word);
            firebase.database().ref(this.articlePath.tagWords + '/' + key + '/' + this.articleId).set({
              value: this._todayUTC
            }).catch(this._catchError.bind(this));
          }
        }

        var delArr = _.difference(this.article.tagwords, newArr);

        for (var j in delArr) {
          var key = 'tagword-'+delArr[j].replace(/\#|\.|\$|\[|\]/g, '_');
          firebase.database().ref(this.articlePath.tagWords + '/' + key + '/' + this.articleId)
            .remove().catch(this._catchError.bind(this));
        }

        var updates = {};
        // console.log(this.$$('#data-ref').path );
        updates[this.$$('#data-ref').path + '/tagwords'] = newArr;
        firebase.database().ref().update(updates).catch(this._catchError.bind(this));
        this._setDatePublished()
      },

      _checkCategories: function(categories, key) {
        return categories[key] && categories[key].value;
      },

      _tapCategory: function(e) {
        var id = e.target.id
        var active = e.target.active;
        
        var updates = {};
        updates[this.$$('#data-ref').path + '/categories/' + id] = active ? {value: true} : null;
        updates[this.$$('#published-ref').path + '/' + id] = active ? this._todayUTC : null;
        updates[this.$$('#published-ref').path + '/' + id + 'Published'] = active && this.publishOption.value ? this._todayUTC : null;
        updates[this.$$('#published-ref').path + '/' + id + 'FrontPublished'] = active && this.publishOption.front ? this._todayUTC : null;
        updates[this.$$('#published-ref').path + '/' + id + 'NewsPublished'] = active && this.publishOption.news ? this._todayUTC : null;
        updates[this.$$('#published-ref').path + '/' + id + 'PressPublished'] = active && this.publishOption.press ? this._todayUTC : null;
        updates[this.$$('#published-ref').path + '/' + id + 'SapPublished'] = active && this.publishOption.sap ? this._todayUTC : null;
        updates[this.$$('#published-ref').path + '/' + id + 'PeoplePublished'] = active && this.publishOption.people ? this._todayUTC : null;
        updates[this.$$('#published-ref').path + '/' + id + 'VideoPublished'] = active && this.publishOption.video ? this._todayUTC : null;
        updates[this.$$('#published-ref').path + '/' + id + 'PhotoblogPublished'] = active && this.publishOption.photoblog ? this._todayUTC : null;
        
        firebase.database().ref().update(updates).catch(this._catchError.bind(this))
      }

    });

  </script>

</dom-module>
