<!-- Polymer dependencies -->
<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<!-- Polymer Elements dependencies -->
<link rel="import" href="../../../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../../../bower_components/iron-image/iron-image.html">

<!-- Component dependencies -->
<!-- RC-Layout dependencies -->
<link rel="import" href="../../rc-layout/rc-side-content/rc-side-content.html">

<!-- Behvaior dependencies -->
<link rel="import" href="../../rc-core/rc-core-utils-behavior.html">
<link rel="import" href="../nice-article-behaviors/nice-article-behavior.html">

<!-- Style dependencies -->
<link rel="import" href="nice-summary-small-article-style.html">

<dom-module id="nice-summary-small-article">
  <template>
    <style is="custom-style" include="nice-summary-small-article-style">
      :host {
        display: block;
      }
    </style>
    
    <firebase-document
      path="[[articlePath.articles]]/[[articleId]]/title"
      data="{{articleTitle}}">
    </firebase-document>
    <firebase-document
      path="[[articlePath.articles]]/[[articleId]]/date_published"
      data="{{articleDatePublished}}">
    </firebase-document>
    <firebase-document
      path="[[articlePath.articles]]/[[articleId]]/header_image"
      data="{{articleImage}}">
    </firebase-document>
    <firebase-document
      path="[[articlePath.articles]]/[[articleId]]/body"
      data="{{articleBody}}">
    </firebase-document>
    
    <a href="/article/view/[[articleId]]" class="header-image-anchor">
      <iron-image class="header-image" src$="[[articleImage]]" sizing="cover" fade preload></iron-image>
    </a>
    <div class="content">
      <a href="/article/view/[[articleId]]" class="article-title">
        <h2>
          [[_trimText(articleTitle)]]
        </h2>  
      </a>
      <p class="by-line">
        Last Published: [[renderDate(articleDatePublished)]]
      </p>
      <p class="body">
        [[_trimText(articleBody, 200)]]
      </p>
    </div>
    
    
    
  </template>
  <script>
    Polymer({
      is: 'nice-summary-small-article',
      
      behaviors: [
        Polymer.NiceArticleBehavior  
      ]
    })
  </script>
</dom-module>