//

:host .article-banner {
  min-width: 20em;
}

:host .article-banner iron-image {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: black;
}

:host .title-text {
  min-width: 300px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}

:host .title-text h1 {
  margin-bottom: 0px;
}

:host .article-by-line {
  font-size: 0.6em;
}

:host .buttons a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
}

:host .markdown-html img {
  display: none;
}

:host .sub-title {
  font-size: 0.8em;
}

:host .buttons {
  padding-top: 1em;
}

:host .category-title {
  font-size: 0.6em;
}

:host .category-area {
  margin-top: 5px;
  margin-bottom: 10px;
}

:host .title-anchor {
  text-decoration: none;
  color: inherit;
}

:host .profile-header-container {
  background-color: #BBBBBB;
  padding: 10px;
}

:host .profile-header, .profile-body {
  min-width: 300px;
  max-width: 1000px;
}

:host .profile-picture {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

:host .buttons a {
  text-decoration: none;
  color: inherit;
}

:host table {
  border: 1px solid black;
  border-spacing: 0px;
}

:host td, th {
  border: 1px solid black;
  padding: 10px;
  margin: 0;
}

:host tr {
  padding: 0;
  margin: 0;
}

:host .photoblog-item {
  min-width: 150px;
  cursor: pointer;
}

:host .photoblog-item iron-image{
  width: 100%;
  height: 150px;
}

:host #photoblog-dialog {
  width: 70%;
  max-width: 540px;
}

:host #photoblog-dialog-image {
  width: 100%;
  max-width: 500px;
}

:host .caption {
  text-align: center;
}

:host .category-title {
  font-size: 0.8em;
}

:host .profile-body-text {
  min-width: 300px;
}

:host .by-line {
  font-size: 0.8em;
}

:host .category {
  font-size: 0.8em;
  margin-left: 5px;
}

:host .profile-name {
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

:host .checkboxes {
  margin-left: 10px;
}