<!-- Polymer dependencies -->
<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<!-- Polymer Elements dependencies -->
<link rel="import" href="../../../../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../../../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/editor-icons.html">

<!-- Component dependencies -->

<!-- Behvaior dependencies -->
<link rel="import" href="../../rc-core/rc-core-utils-behavior.html">
<link rel="import" href="../nice-data-behaviors/nice-data-behavior.html">
<link rel="import" href="../../nice-module/nice-behaviors/nice-category-behavior.html">
<link rel="import" href="../../nice-user/nice-user-behavior/nice-user-behavior.html">

<!-- Style dependencies -->
<link rel="import" href="nice-data-component-style.html">

<dom-module id="nice-data-component">
  <template>
    <style is="custom-style" include="nice-data-component-style iron-flex iron-flex-alignment iron-flex-factors">
      :host {
        display: block;
      }
    </style>
    
    <firebase-document
        path$="[[openDataPath.openData]]/[[openDataId]]"
        data="{{openData}}">
    </firebase-document>
    <firebase-document
      path$="[[openDataPath.openData]]/[[openDataId]]/date_published"
      data="{{openDataDatePublished}}">
    </firebase-document>
    
    <firebase-document
      path$="[[categoryPath.categories]]"
      data="{{categories}}">
    </firebase-document>

    <firebase-document
      path$="[[openDataPath.media]]/[[openDataId]]"
      data="{{mediaData}}">
    </firebase-document>
  
    <!-- ADD CHECK ON USER ROLE HERE -->
    <template is="dom-if" if="{{user}}">
      <firebase-document
        path="[[userPath.options.members]]/[[user.uid]]"
        data="{{memberRole}}">
      </firebase-document>
    </template>
    
    <div class="horizontal layout">
      <div class="flex"></div>
      <template is="dom-if" if="{{_forceZero(openData)}}">
        <div class="flex-3 coontent-body">
          
          <h1>{{openData.title}}</h1>
          <hr/>
          <div class="">

            <div class="buttons">
              <a href="https://www.facebook.com/sharer.php?u=[[_thisUrl()]]" target="_blank">
                <paper-icon-button src="https://firebasestorage.googleapis.com/v0/b/project-nice-polymer.appspot.com/o/icons%2Ffacebook_circle_color-128.png?alt=media&token=e3b0bb20-d29b-4da3-b6de-80a17f561797"></paper-icon-button>
              </a>
              <a href="https://twitter.com/share?text=[[_textToUrl(openData.title)]]&url=[[_thisUrl()]]" target="_blank">
                <paper-icon-button src="https://firebasestorage.googleapis.com/v0/b/project-nice-polymer.appspot.com/o/icons%2Ftwitter_circle_color-256.png?alt=media&token=0a32bc85-8464-4b97-811b-ec1c3aa750bf"></paper-icon-button>
              </a>
            </div>
            
            <template is="dom-if" if="{{_forceZero(openData.categories)}}">
              <div class="horizontal layout wrap center category-area">
                <div class="category-title">
                  Categories:
                </div>
                <template is="dom-repeat" items="{{categoryArray}}">
                  <template is="dom-if" if="_categoryIcon(categories, item.$key)">
                    <div style="position: relative">
                      <iron-icon style="margin-left: 10px" id="{{item.$key}}" src="{{_categoryIcon(categories, item.$key)}}"></iron-icon>
                      <paper-tooltip for="{{item.$key}}">{{_categoryName(categories, item.$key)}}</paper-tooltip>
                    </div>
  
                  </template>
                </template>
              </div>
            </template>
            <div class="article-by-line">
              Last Edited at: {{renderDate(openData.date_published)}}
            </div>
            
            <marked-element markdown="{{openData.body}}">
              <div class="markdown-html"></div>
            </marked-element>
            
            <h3 class="header-3">
              Files:
            </h3>
            <template is="dom-repeat" items="{{media}}">
              <div class="horizontal layout center">
                <iron-icon icon="{{_setIcon(item)}}"></iron-icon>
                <div class="flex caption">
                  {{item.caption}}
                  <template is="dom-repeat" items="{{_itemCategories(item.categories)}}">
                    <template is="dom-if" if="_categoryIcon(categories, item.$key)">
                      <div style="position: relative">
                        <iron-icon style="margin-left: 10px" id="{{item.$key}}" src="{{_categoryIcon(categories, item.$key)}}"></iron-icon>
                        <paper-tooltip for="{{item.$key}}">{{_categoryName(categories, item.$key)}}</paper-tooltip>
                      </div>
    
                    </template>
                  </template>
                </div>
                <a href="{{item.downloadURL}}" target="_blank">
                  <paper-icon-button icon="icons:file-download"></paper-icon-button>
                </a>
              </div>
  
  
            </template>
          </div>
          <div class="buttons">
            <a href="/data/view/[[openDataId]]">
              <paper-button raised>
                Read More...
              </paper-button>
            </a>
            <template is="dom-if" if="{{_checkPermission('editor', owner, user, roles.member)}}">
              
              <template is="dom-if" if="[[!openDataBeingEdited]]">
                <a href="/data/edit/[[openDataId]]">
                  <paper-icon-button icon="editor:mode-edit"></paper-icon-button>
                </a>
              </template>
              <template is="dom-if" if="[[openDataBeingEdited]]">
                <a href="/data/view/[[openDataId]]">
                  <paper-button>Close Editor</paper-button>
                </a>
              </template>
              
              <paper-icon-button on-tap="_openDeleteArticle" icon="icons:delete"></paper-icon-button>
            </template>
          </div>
        </div>  
      </template>  
      <div class="flex"></div>
    </div>
    

    <template is="dom-if" if="{{!_forceZero(openData)}}">
      <div class="horizontal layout">
        <div class="flex"></div>
        <div class="center flex" style="margin-top: 200px; text-align: center">
          <paper-spinner alt="Loading article" active></paper-spinner>
        </div>
        <div class="flex"></div>
      </div>
    </template>

    
    
  </template>
  <script>
    Polymer({
      is: 'nice-data-component',
      
      properties: {
        openDataBeingEdited: {
          type: Boolean,
          value: false
        }
      },
      
      behaviors: [
        Polymer.NiceDataBehavior,
        Polymer.NiceCategoryBehavior,
        Polymer.NiceUserBehavior,
      ],
      
      observers: [
        '_checkCategories(openData.categories)',
        '_checkMediaData(mediaData)',
      ],
      
      _check: function(e) {
        console.log(e)
      },
      
      _checkCategories: function(categories) {
        this.categoryArray = [];
        for (var i in categories) {
          this.push('categoryArray', {$key: i});
        }
      },
      
      _itemCategories: function(categories) {
        var categoryArray = [];
        for (var i in categories) {
          categoryArray.push({$key: i});
        }
        return categoryArray;
      },

      _categoryIcon: function(categories, key) {
        if (categories[key]) {
          return categories[key].icon
        }
      },

      _categoryName: function(categories, key) {
        if (categories[key]) {
          return categories[key].name
        }
      },

      _setIcon: function(item) {
        if (item.contentType) {
          if (item.contentType.indexOf('image/') >= 0) {
            return 'image:image'
          } else if (item.contentType === 'application/pdf' || item.name.indexOf('.pdf') >= item.name.length - 4) {
            return 'image:picture-as-pdf'
          } else if (item.contentType.indexOf('text/') >= 0) {
            return 'icons:assignment'
          }
        } else if (item.name.indexOf('.xls') >= item.name.length - 5) {
          return 'image:grid-on'
        } else if (item.name.indexOf('.doc') >= item.name.length - 5) {
          return 'icons:description'
        }
        return 'icons:view-module'
      },

      _checkMediaData: function(e) {
        this.media = [];
        for (var i in e) {
          this.push('media', e[i]);
        }
      },
      
      _openDeleteOpenData: function() {
        this.$$('#delete-dialog').open()
      },

      _cancelDelete: function() {
        this.$$('#delete-dialog').cancel()
      },
    })
  </script>
</dom-module>