// nice-category-list-style

.category {
  text-align: center;
  min-width: 70px;
  text-decoration: none;
  padding-bottom: 10px;
  color: inherit;
  font-size: 0.5em;
  
  img {
    width: 30px;
  }
}