<!-- Polymer dependencies -->
<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<!-- Polymer Elements dependencies -->
<link rel="import" href="../../../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-ripple/paper-ripple.html">


<!-- Component dependencies -->

<!-- Behvaior dependencies -->
<link rel="import" href="../nice-behaviors/nice-category-behavior.html">

<!-- Style dependencies -->
<link rel="import" href="nice-category-list-style.html">

<dom-module id="nice-category-list">
  <template>
    <style is="custom-style" include="nice-category-list-style iron-flex iron-flex-alignment">
      :host {
        display: block;
      }
    </style>
    
    <firebase-query
      path$="[[categoryPath.categories]]"
      data="{{categories}}">
    </firebase-query>
    
    <div class="horizontal layout wrap">
      <a href="./?child=[[_all]]" class="flex category">
        <div style="position: relative">
          
          <img src="https://firebasestorage.googleapis.com/v0/b/project-nice-polymer.appspot.com/o/icons%2Freload.png?alt=media&token=6ad05e47-c94b-4fb9-8b9b-65721b54175b"><br/>
          All
          <paper-ripple></paper-ripple>
        </div>
        
      </a>
      
      <template is="dom-repeat" items="[[categories]]">
        <a href="./?child={{item.$key}}" class="flex category">
          <div style="position: relative">
            <img src="{{item.icon}}"><br/>
            {{item.name}}
            <paper-ripple></paper-ripple>  
          </div>
          
        </a>
      </template>
      
      <a target="_blank" href="https://docs.google.com/spreadsheets/d/1W-lKUVVRXCQJQYwG2uEfao2af0GRhtn38MFZ1ExQS0w/edit?usp=sharing" class="flex category">
        <div style="position: relative">
          <img src="https://firebasestorage.googleapis.com/v0/b/project-nice-polymer.appspot.com/o/icons%2Fresearch-with-books.png?alt=media&token=fb4b8974-c43b-4dea-a6a8-0b326f5f4974"><br/>
          Consolidated Research  
        </div>
        
      </a>
    </div>
    
  </template>
  <script>
    Polymer({
      is: 'nice-category-list',
      
      properties: {
        _all: {
          type: String,
          value: "all"
        }
      },
      
      behaviors: [
        Polymer.NiceCategoryBehavior
      ],
      
    })
  </script>
</dom-module>