<!-- Polymer dependencies -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!-- Polymer Element dependencies -->
<link rel="import" href="../../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<!-- Component dependencies -->

<!-- Behvaior dependencies -->
<link rel="import" href="../rc-core/rc-core-utils-behavior.html">

<!-- Style dependencies -->
<link rel="import" href="rc-carousel-style.html">

<dom-module id="rc-carousel">
  <template>
    <style is="custom-style" include="rc-carousel-style iron-flex iron-flex-alignment">
      :host {
        display: block;
      }
    </style>

    <neon-animated-pages
      selected$="{{carouselIndex}}"
      id="carousel"
      entry-animation="fade-in-animation" 
      exit-animation="fade-out-animation">
      <content></content>
    </neon-animated-pages>
    
    <div class="carousel-buttons">
      <iron-selector 
        class="carousel-buttons-container horizontal layout" 
        id="carousel-buttons-container"
        attr-for-selected="data-index"
        selected$={{carouselIndex}}>
        <div class="flex"></div>
        <div class="flex" id="prepend-carousel-button-bottom"></div>
      </iron-selector>  
    </div>
    
  </template>
  <script>
    /*global Polymer*/
    /*global Node*/
    /*global Modernizr*/
  
    Polymer({
      is: 'rc-carousel',
      
      properties: {
        carouselIndex: {
          type: Number,
          value: 0,
          notify: true,
          reflectToAttribute: true,
          observer: '_carouselIndexChanged'
        },
        parallax: {
          type: Boolean,
          value: false
        },
        carouselInterval: {
          type: Number,
          observer: '_carouselIntervalChanged'
        },
        height: {
          type: String,
          value: "0px",
          observer: '_heightChanged'
        }
      },
      
      behaviors: [
        Polymer.RcCoreUtilsBehavior 
      ],
      
      attached: function() {
        this._observer = Polymer.dom(this).observeNodes(function(info) {
          this._contentAdded(info.addedNodes.filter(function(node) {
            return (node.nodeType === Node.ELEMENT_NODE);
          }));
        }.bind(this));
        window.addEventListener('resize', this._resize.bind(this));
      },
      
      detached: function() {
        Polymer.dom(this).unobserveNodes(this._observer);
        window.removeEventListener('resize', this._resize.bind(this));
        clearInterval(this._carouselIntervalTrack);
      },
      
      _resize: function() {
        this._heightChanged(this.height);
      },
      
      _contentAdded: function(nodes) {
        for (var i in nodes) {
          var el = nodes[i];
          if (el.tagName === 'TEMPLATE') continue;
          if (el.hasAttribute) {
            el.setAttribute('parallax', this.parallax);
            el.setAttribute('height', this.height);
  
            var thumbnailBottom = document.createElement('button');
            thumbnailBottom.setAttribute('data-index', el.getAttribute('data-index'));
            Polymer.dom(thumbnailBottom).classList.add('carousel-button');
            
            this.listen(thumbnailBottom, 'tap', '_carouselThumbnailTap');
            
            Polymer.dom(this.$$('#carousel-buttons-container')).insertBefore(thumbnailBottom, this.$$('#prepend-carousel-button-bottom'));
          }
        }
        
        if (this.carouselInterval) {
          this._carouselIntervalChanged(this.carouselInterval);
        }
        
        Polymer.dom.flush();
        this._carouselIndexChanged(this.carouselIndex);
      },
      
      _carouselIntervalChanged: function(carouselInterval) {
        var timing = parseInt(carouselInterval, 10);
        clearInterval(this._carouselIntervalTrack);
        if (timing && !isNaN(timing)) {
          this._carouselIntervalTrack = setInterval(function() {
            this.$$('#carousel').selectNext();
            this._carouselIndexChanged(this.$$('#carousel').selected);
          }.bind(this), timing);
        } 
      },
      
      _carouselIndexChanged: function(index) {
        if (this.$$('#carousel').selectedItem && this.$$('#carousel').selectedItem.resetLayout) {
           this.$$('#carousel').selectedItem.resetLayout();
        }
        this.$$('#carousel-buttons-container').select(index);
      },
      
      _heightChanged: function(e) {
        this._heightNodeChanged(e, this.$$('#carousel'));
      },
      
      _carouselThumbnailTap: function(e) {
        clearInterval(this._carouselIntervalTrack);
        var el = e.target;
        var index = el.getAttribute('data-index');
        this.carouselIndex = index;
        this.$$('#carousel').select(index);
        this._carouselIntervalChanged(this.carouselInterval);
      },
    });
  </script>
</dom-module>