<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="./nice-utils-behavior.html">

<script>
  (function(){
    'use strict';

    /** @polymerBehavior Polymer.NiceCategoryBehavior */
    Polymer.NiceCategoryBehaviorImpl = {

      properties: {
        category: {
          type: Object
        },

        categories: {
          type: Object
        },
        
        categoryArray: {
          type: Array,
          value: function() { return []; }
        },

        categoryPath: {
          type: Object,
          readOnly: true,
          value: function() { return this._categoryPath; }
        },

        categoryGroup: {
          type: String,
          readOnly: true,
          value: function() { return this._categoryGroup; }
        }
      },

      get _categoryGroup() {
        return 'category_group';
      },

      get _categoryPath() {
        return {
          categories: this._version + '/' + this._categoryGroup + '/categories'
        };
      },
      
      _categoryIcon: function(categories, key) {
        if (categories[key]) {
          return categories[key].icon
        }
      },

      _categoryName: function(categories, key) {
        if (categories[key]) {
          return categories[key].name
        }
      },
      
      _checkCategories: function(categories) {
        this.categoryArray = [];
        // console.log(categories)
        for (var i in categories) {
          this.push('categoryArray', {$key: i});
        }
      },

    };
    Polymer.NiceCategoryBehavior = [
      Polymer.NiceUtilsBehavior,
      Polymer.NiceCategoryBehaviorImpl
    ];
  })();
</script>